<button (click)="openDialogCustom()">Open Dialog Custom</button>
<button (click)="openDialogCustom2()">Open Dialog Custom 2</button>
<button (click)="openDialogWithTemplate(template1)">
  Open Dialog With Template
</button>
<button (click)="openDialogWithTemplate(template2)">
  Open Dialog With Template 2
</button>

<ng-template #template1>
  <h1 mat-dialog-title>Dialog With Template</h1>
  <div mat-dialog-content>content</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>

<ng-template #template2>
  <h1 mat-dialog-title>Dialog With Template 2</h1>
  <div mat-dialog-content>
    <form [formGroup]="formGroup">
      <mat-form-field>
        <input matInput placeholder="name" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="lastname" formControlName="lastname" />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onSave()">Save</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>
